body {
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%);
}
.judul {
    background:  linear-gradient();
    text-align: center;
}
body{
    background: url("dsa.jpg");
    color: blue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn-primary {
    margin: 30px;
    border: 1px solid;
    width: 5rem;
    height: 2rem;
    color: #000;
    background-color: firebrick;
    transition: all .1s ease-in-out;
    transition-delay: 4ms;
}
.tombol{
    margin: 10px;
    border: 1px solid;
    width: 5rem;
    height: 2rem;
    color: #000;
    background-color: firebrick;
    transition: all .1s ease-in-out;
    transition-delay: 4ms;
}
.balik {
    margin: 30px;
    border: 1px solid;
    width: 5rem;
    height: 2rem;
    color: #000;
    background-color: firebrick;
    transition: all .1s ease-in-out;
    transition-delay: 4ms;
}

.list{
    background-color: aqua;
}
li {
   list-style : none;
   align-items: center;
}